/* GLOBAL */
:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --heading-color: #232121;
    --font-color: #a5a2a1;

    --bg-color: #fff;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-grey: #282828;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
    --bg-footer: #000;
    --swiper-theme-color: #ff6600 !important;

}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    background: var(--bg-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

h3 {
    color: var(--heading-color);
    font-weight: 600;

}
 h2, h3, h4, h5 {
    color: var(--heading-color);
    font-size: 1.2rem I;
}

/* end GLOBAL */

/* CSS BY HUU NGUYEN */



/* END CSS BY HUU NGUYEN */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 70%);
}
.close{
    border: 1px solid transparent;
    background-color: var(--primari-color);
    z-index: 100;
    padding: 5px 5px;
    border-radius: 2px;
    color: white;
    z-index: 999;
}
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
}
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}
.overlay ul li {
    display: block;
    line-height: 3em;
}
.overlay ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    transition: color 0.2s;
}

#banner{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../image/banner1.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.banner__container{
    width: 80%;
    margin: auto;
}
.input-header {
    background-color: var(--bg-color)!important;
}

.banner__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}
.banner__logo h1 a{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}
.banner__content{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}
.search__item{
    position: relative;
}
.search__item input {
    height: 45px;
    width: 250px;
    color: #6d6c6d;
    padding: 8px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.search__item i{
    position: absolute;
    top: 0;
    right: 0;
    color: #6d6c6d;
    transform: translateY(90%) translateX(-50%);
}

.search__bar{
    display: flex;
    align-items: center;
}

.dark__light{
    padding-left: 20px;
}
.dark__light i{
    color: white;
}

.navbar-header i{
    color: white;
    font-size: 2rem;
}

.banner__info{
    color: white;
    max-width: 600px;
    text-align: left;
    margin-top: 80px;
    line-height: 40px;
}
.banner__info h1{
    font-size: 44px;
    line-height: 56px;
    text-transform: capitalize;
    font-weight: 600;

}
.banner__info p {
    font-size: 1rem;
    margin-top: 10px;
}
.btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    /* padding-top: 50px; */
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border-radius: 5px;
    margin-top: 20px;
}

/* About us */
 .about__us{
    background-color: var(--bg-color);
    color: black;
}
.about__us .about__container{
    width: 100%;
    margin: auto;
   
}
.about__us .about__content{
    display: flex;

}
.about__us .about__title h4{
    color: var(--heading-color);
    font-style: italic;
    font: 'Pacifico', cursive;
    font-weight: 600;
}
.about__us .about__title h3{
    font-size: 2.3rem;
    line-height: 40px;
    font-weight: 600!important;
    color: var(--heading-color);
}

.about__us .about__body p{
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}

/* book */
.book{
    color: var(--primary-color);
    overflow: hidden;
}
.bool__left{
    width: 100%;
    height: 50vh;
    position: relative;
}
.book__container{
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--primary-color);
}
.bold{
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.2rem;

}
.book__left__img::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.book__left__img{
    background-image: url(./../image/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    z-index: 1;
}
.book__right{
    color: white;
}
.book .best:hover {
    color: black;

}

.bestmeal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.title-subhny{
    font-size: 1.3rem;
    font-family: 'Pacifico', cursive;
}
.title-w3l{
    font-size: 2.5rem;
    color: var(--heading-color);
    
}
.readmore{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.616);
}
.icon:hover span{
    color: #e3b300;
}
.icon span{
    background-color: rgba(255, 255, 255, 0.944);
    color: var(--primary-color);
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.best{
    padding-top: 30px;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.lorem{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.782);
}

/* categori */
.categori{
    background-color: var(--bg-light);
}
.categori__container{
    margin: auto;
}
.categori__content{
    width: 80%;
    margin: auto;
    
}
.categori__title{
    margin-top: 5rem;
    color: white;
    width: 100%;
    text-align: center;
}
.categori__title h4{
    color: var(--heading-color)!important;
    font-style: italic;
}
.categori__title h6 {
    color: var(--primary-color)!important;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
}

.categori__menu {
    position: relative;
    opacity: 1;
    transition: all 0.4s;
}

.menu__info {
    opacity: 1;
    transition: all 0.4s;
}
.info h4 {
    color: var(--heading-color);
    font-weight: 600!important;
}
.categori__menu .menu__info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    transform: translate3d(0, 10%, 0);
    /* background-color:rgba(16, 15, 19, 0.297) ; */
}
.menu__img:hover{
    opacity: 0.8;
    transition: all 0.4s;
}
.menu__info a {
    text-decoration: none;
    cursor: pointer;
}
.menu__img a img {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

.menu__info a h4{
    color: white;

}
.menu__info h5{
    color: var(--secondary-color);
}
.menu__img a::after{
    content: "";
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* food */
.food{
    background-color: var(--bg-color);
}
.food__container{
    width: 100%;
    margin: auto;
    color: var(--bg-color);
    padding: 5rem 5rem;
}
.food__item{
    padding: 10px 10px;
}
.item__container{
    padding: 20px 20px;
    border: 1px solid #c2d0da43;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 2px 2px rgba(255, 255, 255, 0.641);
}
.item__content{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
}

.item__content:hover i{
    background-color: var(--primary-color);
    color: white;
    transition: all 0.8s;
}
.info:hover h4{
    color: var(--heading-color);
    cursor: pointer;
}
.icon i{
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
    width: 100px;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.spans{
    font-size: 1.3rem;
    line-height: 28px;
    color: #798288;
}
.info p{
    color: #798288;
}

/* delicious */
.delicious{
    background-image: url(./../images/banner2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.delicious::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.delicious__container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.delicious__content{
    margin: auto;
    text-align: center;
}
.delicious__title{
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.btn-style{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border: 2px solid white;
    border-radius: 5px;
}
.delicious__button a:nth-child(1){
    color: white;
}
.delicious__button a:nth-child(1):hover {
    color: var(--primari-color);
    background-color: white;
}
.delicious__button a:nth-child(2){
    color: white;
    background-color: var(--primari-color);
    border: 1px solid transparent;
}
.delicious__button a:nth-child(2):hover{
    background-color: #ff6600c8;
}


/* CSS BY LINH PHAM */

/* service */
.service {
    position: relative;
}

.stats-top {
    background-image: url(../image/banner2.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    max-height: 500px;
    background-position: center;
}

.stats-top h3 {
    font-size: 3rem !important;
    color: var(--heading-color);
}

.stats-top::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.box {
    width: 100%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
    background-color: var(--bg-color)!important;
    transition: all 0.25s;

}

.box span:first-of-type {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 2.6rem;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box span:nth-of-type(2) {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--font-color);
    background-color: var(--bg-color);
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-service {
    border: 2px solid white;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.25s;
    font-weight: 600;
}

.btn-contact-us {
    background-color: var(--primary-color) !important;
    border: none;
    padding: 22px 40px;
}

.btn-service:hover {
    background-color: white;
}

.btn-contact-us:hover {
    color: white;
    opacity: 0.8;
}

@media only screen and (min-width:992px) {
    .stats-bottom {
        position: relative;
        bottom: 130px;

        z-index: 5;
    }

    .video {
        margin-top: -80px;
    }


}

/* bottom */
.stats-bottom .item {
    background-color: var(--primary-color);
    /* color: var(--primary-color); */
}

/* end bottom */
/* end service */
/*  */
.mybox {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: all 0.25s;
}

.mybox:hover {
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.02);
}

.mybox i {
    font-size: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 115, 252, .05);
    border-radius: 5px;
    transition: all 0.25s;
}

.mybox:hover i {
    color: white;
    background-color: red;
}


/* video */
.video .my-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    border-radius: 5px;
    background-image: url(../image/banner3.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;

}



.video .my-video::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left: 0;
    top: 0;
}

.video .play-button {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 0px !important;
    z-index: 1;
    cursor: pointer;
    animation: playButtonAnimate 1s infinite linear;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;


}

.video i {
    color: var(--primary-color);
    font-size: 32px;
    position: absolute;
    transition: all 0.25s;
}

.video .play-button:hover {
    transform: scale(1.2);
    background-color: var(--primary-color);
}

.video .play-button:hover i {
    color: white;
}

.video .white-popup {
    position: relative;
    /* background: yellow; */
    color: red!important;
    padding: 100px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
    transition: all 0.5s;
}

.video .mfp-close {
    color: white !important;
    background-color: white!important;
    font-size: 40px !important;
}
.mfp-close-btn-in .mfp-close{
    color: white !important;
    /* background-color: white!important; */
    font-size: 40px !important;
}
@keyframes playButtonAnimate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 25%),
            0 0 0 10px rgba(255, 255, 255, 25%),
            0 0 0 20px rgba(255, 255, 255, 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 25%),
            0 0 0 20px rgba(255, 255, 255, 25%),
            0 0 0 40px rgba(255, 255, 255, 0);
    }
}

/* end video */

/* Blog posts */
.blog-posts {
    background-color: var(--bg-light);
    padding-top: 100px !important;
    padding-bottom: 100px;
}
.blog-posts .card {
    background-color: transparent;
}
.blog-posts .reciepe {
    padding: 3px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.blog-posts i {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 130px;
    color: white;
}

.blog-posts span {
    position: absolute;
    bottom: 20px;
    left: 160px;
    color: white;
}

.blog-posts .control-card {
    position: relative;
}
/* .blog-spost .card-body>a {
    color: red !important;
} */
.blog-posts .container>h3 {
    color: var(--heading-color);
    font-size: 2em;
    /* color: red!important; */
}
.blog-posts a {
    color: var(--heading-color);
    font-weight: 700 !important;
}

.blog-posts .ahover:hover {
    color: var(--primary-color);
}

.blog-posts .aheading {
    font-size: 1.4rem;
}

.blog-posts h6 {
    color: var(--primary-color)!important;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;

}

.blog-spost h3 {
    color: var(--heading-color)!important;
}

@media only screen and (min-width:1200px) {
    .blog-posts {
        margin-top: 180px;
    }
}

/* End Blog posts */
/* testimonial */
.testimonial {
    padding-bottom: 80px;
    padding-top: 50px;
    

}

.testimonial .swiper>h6 {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.2rem;

}

.testimonial .swiper>h3 {
    color: #000;
    font-weight: 600;
    color: var(--heading-color);
    font-size: 2.3rem;

}
.testimonial .name {
    color: var(--heading-color);
}
.testimonial .swiper-slide img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.testimonial .swiper-slide blockquote>p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading-color);

}

.testimonial .swiper-slide blockquote>p::before {
    content: "\201C";
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;

}

.testimonial .swiper-slide blockquote>p::after {
    content: "\201D";
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;

}

/* .testimonial .swiper-slide>p:first-of-type{
    padding: 0 350px;
} */
/* end testimonial */
/* footer */
footer {
    background-color: var(--bg-footer);
    overflow: hidden;
}

footer h2>a {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}



footer ul {
    list-style: none;
    margin: 0;
    padding: .8rem 0;
}

footer .brand a {
    display: inline-block;
    line-height: 36px;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

footer .brand a:hover {
    background-color: var(--primary-color);
    transition: all 0.25s;
    color: var(--bg-color);
}

footer a {
    color: white;
}

footer hr {
    width: 100%;
    border: 1px solid;
    color: white;
    opacity: 0.1;
}

footer p>a {
    color: var(--primary-color);
}

footer p>a:hover {
    color: white;
}

footer form input[type="email"] {
    display: block;
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.25s;
    border: 2px solid transparent;
    outline: none;
    color: var(--font-color);
}

footer form input[type="email"]:focus {

    border: 1px solid var(--primary-color);
}

footer form input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: var(--bg-color);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: var(--primary-color);
    transition: all 0.25s;
}

footer form input[type="submit"]:hover {
    opacity: 0.8;
}


footer h6 {
    color: white;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    font-family: 'Quicksand', sans-serif!important;
}
/* footer .input-footer {
    background-color: var(--bg-color);
} */
/* end footer */
/* END CSS BY LINH PHAM */